/bin/
*.orig
*.project
*.classpath
*.csv
**/.settings/**
**/test-output/**
**/target/**
**/.metadata/**
**/.idea/**
**/resources/properties/GlobalParameters.properties
/target/
resources/reporter/html/.gradle/*
hashCodeFile.txt
src/main/main.iml
src/main/assembly
/com.auto.dfw.web2tv.iml
*.log
sdk.log